
body {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #0a2ff1;

}

span {
    font-weight: 700;
}

img {
    width: 100px;
    vertical-align: middle;
    margin-left: 30px;
}

