* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(./imagenes/fondo\ \(1\).jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.container_h1 {
    font-size: 21px;
    font-family: Roboto;
    font-weight: 900;
    width: 39%;
    height: 19%;
    background-color: white;
    mix-blend-mode: screen;
    border-radius: 10px;
}


h4 {
    font-family: Roboto;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.subtitulo {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.container {
    position: relative;
    width: 40rem;
    height: 50rem;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    background-image: url('imagenes/foto.png');
    background-size: cover;
    background-position: center;
  }
  
  .texto {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    background-color: rgb(185, 101, 160);
    padding: 45px;
    height: 710px;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s, opacity 1;
  }


  h3 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-family: Roboto;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-family: Roboto;
  }

  .anio {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  a {
    font-family: Roboto;
    font-size: 1.1rem;
    color: rgba(0, 0, 255, 0.925);
  }
  
  .container:hover .texto {
    visibility: visible;
    opacity: 1;
  }
  