body {
    display: flex;
    justify-content: center;
}

section {
    display: inline-block;
    text-align: center;
    width: 90vh;
    height: 113vh;
    border: 1px solid rgb(194, 205, 241);
}

#conteiner {
    padding-left: 6vh;
    padding-right: 6vh;
}

#header {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    background-color: #04146c;
    height: 40px;
}

h1 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 900;
    font-size: 65px;
    color: #04146c;
    margin: 0px;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

#texto {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 6px;
}

span{
    font-weight: 700;
}


#imagen {
    width: 450px;
    margin-bottom: 2vh;
    border: 1px solid rgb(51, 49, 49);
}

#footer {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(200, 218, 233);
}

